# Port server lắng nghe
PORT=4000

# Base path của app
# Nếu deploy tại domain riêng (https://secretlink.com/) thì để "/"
# Nếu deploy tại sub-path (https://example.com/secret/) thì để "/secret"
BASE_PATH=/secret
